<h1>New Sub</h1>

<form action="<%= subs_url %>" method="post">
  <input
    type="hidden"
    name="authenticity token"
    value="<%= form_authenticity_token %>">

  <label>
    Name
    <input type="text" name="sub[sub_name]">
  </label>
</form>